<div class="social">
    <a href="mailto:russkev@gmail.com">
        <script src="components/icons/icon_email_01.js"></script>
        email
        <div class="underline"></div>
    </a>
    <a href="https://github.com/russkev">
        <script src="components/icons/icon_github_01.js"></script>
        GitHub
        <div class="underline"></div>
    </a>
    <a href="https://www.linkedin.com/in/kevinjrussell/">
        <script src="components/icons/icon_linkedin_01.js"></script>
        LinkedIn
        <div class="underline"></div>
    </a>
</div>