a {
  text-decoration: none;
  color: var(--link-color);
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}

a[href*="mailto"] {
  text-transform: lowercase;
  display: inline-block;
}

a#bottom-email {
  margin-right: 30px;
}

a[href*="mailto"]::after {
  content: "";
}

a::after {
  color:var(--link-color);
  content: " >"
}

a:hover::after {
  color: var(--link-color-hover);
}

h5 > a::after {
  content: ""
}

a[href*="http"]::after {
  content: "";
}

a > div.underline {
  position: absolute;
  height: 2px;
  width: 0;
  opacity: 0;
  left: 50%;
  background-color: var(--link-color-hover);
  transition: 0.2s;
  transition-timing-function: ease-out;
}

a:hover div {
  opacity: 100%;
  width: 100%;
  left: 0%;
}

a path {
  fill: var(--link-color);
  transition: 0.3s;
}

a:hover {
  color: var(--link-color-hover)
}

a:hover path {
  fill: var(--link-color-hover)
}

a svg {
  width: 20px;
  height: 20px;
  margin: 0 8px;
}