@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* *::before *::after {
  box-sizing: border-box;
}

:root {
  --secondary-color: rgb(0, 179, 255);
  --bg-secondary-color: rgb(240, 249, 253);
  --bg-secondary-darker: rgb(221, 237, 243);
  --shadow-color: rgba(51, 119, 149, 0.16);
  --text-dark-color: rgb(41, 47, 49);
  --text-light-color: rgb(108, 124, 130);
  --link-color: rgb(108, 137, 148);
  --max-width: 1200px;
  --max-column-width: 800px;
  --max-title-width: 1000px;
  --section-gap: 110px;
  --button-width: 220px;
}

body {
  max-width: var(--max-width);
  margin: auto;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  color: var(--text-light-color);
  overflow-x: hidden;
}

h2 {
  margin-top: var(--section-gap);
  color: var(--text-dark-color);
  font-size: 2.5rem;
  font-weight: 500;
}

/* My-work heading */
h3 {
  font-weight: normal;
  font-size: 2rem;
  margin: 20px 0;
  color: var(--text-dark-color)
}

/* Kevisual link */
h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0;
}

h5 > a {
  font-weight: 600;
}

img {
  width: 100%;
}

.margin-top {
  margin-top: var(--section-gap)
}