@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* *::before *::after {
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(218, 14%, 11%);
  --secondary-color: hsl(39, 100%, 50%);
  --bg-secondary-color: hsl(215, 17%, 14%);
  --bg-tertiary-color: hsl(216, 16%, 24%);
  --shadow-color: hsl(218, 0%, 0%, 0.5);
  --transparent-primary-color: hsl(218, 14%, 11%, 0.8);
  --text-primary-color: hsl(218, 0%, 100%);
  --text-secondary-color: hsl(218, 14%, 85%);
  --link-color: hsl(39, 100%, 50%);
  --link-color-hover: hsl(39, 100%, 40%);
  --max-width: 1200px;
  --max-column-width: 800px;
  --max-title-width: 1000px;
  --section-gap: 110px;
  --button-width: 220px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  color: var(--text-primary-color);
  overflow-x: hidden;
  background-color: var(--bg-color);
  position: relative;
  margin: 0;
}

body > div, div.container, nav.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 30px;
}

@media screen and (max-width: 700px) {
  body > div, div.container, nav.container {
    padding: 0 10px;
  }
}

h2 {
  margin-top: var(--section-gap);
  font-size: 2.5rem;
  font-weight: 600;
}

/* My-work heading */
h3 {
  font-weight: normal;
  font-size: 2rem;
  margin: 20px 0;
  margin-top: 5px;
}

/* Kevisual link */
h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0;
  margin-right: 15px;
}

h5 > a {
  font-weight: 600;
}

p, li {
  color: var(--text-secondary-color)
}


.margin-top {
  margin-top: var(--section-gap)
}

.bounce-in, h1, h2, h3, h6, ul.technologies {
  animation-name: fadeDownAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fade-right {
  animation-name: fadeRightAnimation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fade-in, img {
  animation-name: fadeInAnimation;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    animation-timing-function: ease-out;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeRightAnimation {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeDownAnimation {
  from {
    transform: translateY(-50px) scale(97%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}