.tab {
  --slide-time: 0.5s;
  --slide-animation: cubic-bezier(0.000, 0.755, 0.275, 1.000);
  max-width: 850px;
  margin: 0 auto;
  overflow-x: hidden;
}

.tab nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tab button {
  background-color: transparent;
  color: var(--text-primary-color);
  height: 50px;
  transition: background-color 0.4s;
  position: relative;
  padding: 5px 10px;
  margin: 0;
  width: unset;
}


.tab button:hover {
  background-color: var(--bg-secondary-color);

}

.tab > nav > div {
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  overflow: auto;
  padding-bottom: 10px; /*Make room for scroll bar*/
  max-width: 660px;
}

#tab-button-active {
  height: 3px;
  width: 100%;
  background-color: var(--secondary-color);
  transition: var(--slide-time);
  transition-timing-function: var(--slide-animation);
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index:1;
}

#tabs-content-container {
  display: flex;
  overflow: hidden;
  flex: 1 nowrap;
  flex-direction: row-reverse;
  transition: inherit;
  transition-timing-function: var(--slide-animation);
}

.tab-content {
  opacity: 100%;
  width: 100%;
  columns: 3;
  column-width: 200px;
  transition: inherit;
  transition-timing-function: var(--slide-animation);
}

ul.active {
  opacity: 1;
}

li {
  line-height: 2.2rem;
}

@media screen and (max-width: 650px) {
  .tab button {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 400px) {
  .tab button {
    font-size: 0.7rem;
    padding: 5px 5px;
  }

}