h1 {
  font-weight: 700;
  font-size: 5rem;
  margin: 0;
  color: var(--text-primary-color);
  animation-delay: 0.2s;
}

h1 > span {
  display: inline-block;
}

/* Subtitle */
h6 {
  text-align: start;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
  color: var(--text-primary-color);
}

section.title {
  background-color: var(--bg-secondary-color);
}

div.title {
  max-width: var(--max-title-width);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: var(--section-gap) 0;
  flex-wrap: wrap;
}

section.title > div > svg {
  position: absolute;
  top: 130px;
}

section.title > div > svg path {
  fill: var(--bg-tertiary-color);
}

section.title > div > div {
  position: relative;
}

div.title img {
  width: 100px;
  height: 100px;
  margin-right: 15px;
  border-radius: 50%;
  align-self: center;
  animation-delay: 0.4s;
}

svg.fade-right {
  animation-delay: 0.2s;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 370px) {
  div.icons {
    grid-template-columns: auto;
  }
}