<div id="gl-engine">
  <a href="/gl_engine" class="thumbnail">
    <div class="thumbnail">
      <div>
        More information >
      </div>
      <picture>
        <source type="image/webp" srcset="media/gl_engine_thumbnail.webp">
        <img src="media/gl_engine_thumbnail.png" alt="Various screenshots of GL Engine"/>
      </picture>
    </div>
  </a>
  <h3>GL Engine</h3>
  <p>
    Real time graphics engine. Implements advanced real time lighting and
    shading techniques.
  </p>
  <a href="/gl_engine">More information
    <div class="underline"></div>
  </a>
</div>
