<div id="reel">
  <a href="/3d" class="thumbnail">
    <div class="thumbnail">
      <div>
        More information >
      </div>
      <picture>
        <source type="image/webp" srcset="media/reel_thumbnail.webp">
        <img src="media/reel_thumbnail.png" alt="Screenshots of reel at various points in time"/>
      </picture>
    </div>
  </a>
  <h3>3D Reel</h3>
  <p>Various 3D animations and still images that I have worked on over the years.</p>
  <a href="/3d">More information
    <div class="underline"></div>
  </a>
</div>